#form-container {
    display: flex;
    justify-content: center;
}

#blog-form {
    max-width: 500px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

button[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}
